<article>
  <h1>Awards / Premios</h1>
  <ol>
    <li>
      “Honorable mention in innovativeness in art” in the National University Competition Eureka – Universia, Caracas 2005. / “Mención de honor en innovatividad en arte” en el Concurso Nacional Universitario Eureka – Universia, Caracas 2005.
    </li>
    <li>
      Second. “prize for environmental proposals” in the National Environmental Competition of the National Open University - UNA, Caracas, 2006. / Segundo. “premio de propuestas ambientalistas” en el Concurso Nacional Ambientalista de la Universidad Nacional Abierta - UNA, Caracas, 2006.
    </li>
    <li>
      Order “Valentin Hernandez” of the Museum of Visual Arts and Space of Táchira - MAVET, 2021. / ORDEN “Valentín Hernández” del Museo de Artes Visuales y del Espacio del Táchira MAVET, 2021.
    </li>
  </ol>
</article>