<article>
  <h1>Contact / Contacto</h1>
  <div class="contact">
    <p><b>Ender Rodríguez - Venezuela.</b></p>
    <p><b>Email: isrodriguez44@gmail.com</b></p>
    <p><b>Phone: +584247367072.</b></p>
  </div>
</article>