<article>
  <h1>Datos</h1>
  <p>
    Los talleres Arte del Origen se han realizado en muchos lugares de Venezuela, incluyendo la frontera colombo-venezolana, además de la frontera de Venezuela con Brasil, desarrollado asesorías con indígenas venezolanos migrantes gracias al enlace Marielys Briceño, Asistente Técnico de proyecto brasileño en Fundación Fé y Alegria - Filial Boa Vista/Roraima. Próximamente en México, Colombia, Chile y España. Con el grupo de trabajo Provecto AVE desde Luxenburgo esperamos armar proyectos de proyección. Recientemente Ender Rodríguez, gracias a la organización no gubernamental CISP – Venezuela, dictó un taller de Arte del Origen para docentes indígenas wayuu en Santa Bárbara del Zulia, igualmente para voluntarios de ONGs venezolanas. Se espera pronto desarrollar un proyecto de este tipo en el Amazonas Venezolano, gracias al gran amigo e Ingeniero Agrónomo y Activista Social Alirio Castro, quien habita en zonas del Río Cataniapo y con quien Ender Rodríguez trabajó su voluntariado a inicios de los noventa en el Norte del Amazonas, fundamentalmente hacia comunidades Piaroa. 
  </p>
  <p>
    Gracias a diferentes artistas, amigos e investigadores, ARTE DEL ORIGEN se difunde a nivel internacional desde los aportes particulares y las trayectorias de todos quienes han apoyado: la maestra-artista Mariola Foncubierta desde España (Gracias a sus talleres pedagógicos) y gracias a Consuelo Méndez en Austria, el dramaturgo y gestor cultural José Ramón Castillo en Brasil, mi amiga-hermana venezolana de la etnia wayuu, abogada y profesora Mayra Reinoso, mi amiga-artista Sol Blue y su hija Gaia desde Argentina e igualmente desde ese hermoso país sureño contamos con la dedicada labor del artista-devoto a la tradición mítica de “Marialionza” Dixon Calvetti en el Museo argentino Museo Campo-Cañuelas.  Desde Colombia – Tame, también hemos contado con mi amiga-hermana EDDA quien participa apoyando Arte del Origen, siendo creadora-cultora y líder social (co-fundadora de la ONG Deslineaos).  Por otro lado, la psicóloga y amiga-hermana Lesvia Castellano desde la Isla de Margarita –Venezuela,  aportó desde sus talleres y palabras hermosas experiencias muy valiosas en torno al arte –y arte del origen- como  “sanador” y como equilibrio del ser desde la naturaleza.    
  </p>
  <br>
  <p>
    Con la implementación de estos talleres se han logrado los siguientes méritos:
  </p>
  <ol>
    <b>
      <li>”MENCIÓN DE HONOR EN INNOVATIVIDAD EN ARTE” EN EL CONCURSO NACIONAL UNIVERSITARIO EUREKA – UNIVERSIA, CARACAS 2005.</li>
      <li>Segundo. “PREMIO DE PROPUESTAS AMBIENTALISTAS” EN EL CONCURSO NACIONAL AMBIENTALISTA DE LA UNIVERSIDAD NACIONAL ABIERTA - UNA, CARACAS, 2006.</li>
      <li>ORDEN “Valentín Hernández” del Museo de Artes Visuales y del Espacio del Táchira MAVET, 2021.</li>
      <li>PUBLICACIONES Y EXPOSICIONES, VIDEOS Y OTRAS NUEVAS PROMOCIONES.</li>
  </b>
  </ol>
</article>