<footer>
  <h4>Biografía de Ender Rodríguez (San Cristóbal, 1972) (c).</h4>
  <br>
  <p>
    Artista multidisciplinario. Licenciado en Educación Integral (Universidad Nacional Abierta UNA, 2006). Estudió Artes Visuales en el CINGRAF de San Cristóbal en 1997. Investigador “Ad Honorem” como colaborador externo para la Universidad de Los Andes – Venezuela (SABERULA). Ha publicado diversos libros (más de 12) entre ellos ¨Rabo de Pez¨ con la Universidad del Táchira UNET como e-book, además ha sido ponente para eventos nacionales e internacional ante universidades de Venezuela, Brasil y España. Ha participado en más de 80 exposiciones colectivas e individuales, a nivel nacional e internacional. Ha trabajado obras y proyectos junto a los artistas: Ruth Vigueras Bravo (México), Dagmar Glausnitzer (Alemania) y Oscar Salamanca (Colombia), entre otros. Tallerista (Docente-Discente) de pedagogías de creación-liberadoras para niños, adultos y personas que se encuentran en centros de protección a la infancia; personas con discapacidades y refugiados (con el apoyo del Servicio Jesuita a Refugiados SJR y el CISP Comitato Internazionale Per Lo Sviluppo Dei Popoli – Venezuela) y otras ONGs. Ha trabajado con universidades, en docencia, con asociaciones civiles, etc desde 1989 hasta la actualidad.   Representado en el Círculo de Dibujo de Venezuela, Organización Nelson Garrido ONG Caracas, y del Museo de Artes Visuales y del Espacio Mavet – Venezuela; Museo de Arte Erótico de América MAREA – Colombia; Projecto Múltiplo – Brasil (Sao Paulo), y en otras colecciones privadas dentro y fuera del país. Escribe para revistas como “Artischock” de Chile, “Prodavinci” de Venezuela, “Liberatorio” de Colombia y otras. Ha obtenido diversos premios y reconocimientos por su labor holística.
  </p>
  <br>
  <p>
    Email: isrodriguez44@gmail.com   /  Instagram:  @isrodriguez44  /  www.imagineriavisual.blogspot.com 
  </p>
  <br>
  <h4>Diseñador de la página web: Joshua Rodriguez</h4>
  <h4>Diseño del logotipo: Norelys Ramirez</h4>
</footer>