<link rel="stylesheet" href="/styles/header.css">
<header>
  <ul class="navegacion">
    <li><a id="a1"><img src="./imgs/Logo-ER1.png"></a></li>
    <li><a id="a2" href="#1">Qué es</a></li>
    <li><a id="a3" href="#2">Contacto</a></li>
    <li><a id="a4" href="#3">Curriculum</a></li>
    <li><a id="a5" href="#4">Premios</a></li>
    <li><a id="a6" href="#5">Patrocinante</a></li>
    <li><a id="a7" href="#6">Enlaces</a></li>
    <li><a id="a8" href="#7">Datos</a></li>
    <li><a id="a9" href="#8">Apoyo</a></li>
    <li><a id="a10" href="#9">Fotos</a></li>
    <li><a id="a11" href="#10">Videos</a></li>
    <li>
      <button id="btn">=</button>
    </li>
  </ul>
  <div class="carrusel">
    <ul class="carrusel-flechas">
      <button class="anterior"><</button>
      <button class="siguiente">></button>
    </ul>
    <div class="carrusel-item">
      <img src="./imgs/tierra-min.jpg">
    </div>
    <div class="carrusel-item">
      <img src="./imgs/120841540_654867242097829_3720982974330384294_n-min.jpg">
    </div>
    <div class="carrusel-item">
      <img src="./imgs/DSC08911-min.JPG">
    </div>
  </div>
</header>