<article>
  <h1 class="titulo-principal">Arte del Origen / Art of Origin</h1>
  <div class="carta">
    <i><p>
      “La propuesta "Arte del Origen" de Ender Rodríguez resignifica
      pedagógicamente el uso de los pigmentos naturales vegetales y
      minerales como posibilidad tanto estética como de transformación
      socio-ecológica. Es, quizás, una vuelta al abrazo de la tierra”.
    </p></i>
    <p>
      Katherine Chacón.
      Curadora, investigadora y Crítica de Arte.
    </p>
  </div>
  <div class="contenedor-imagenes">
    <video class="arte_video" controls src="https://res.cloudinary.com/dxqa0mb8i/video/upload/v1695475434/Arte_del_Origen_Definitivo_obomd3.mp4"></video>
  </div>
</article>