<article>
  <h1>Enlaces</h1>
  <h3>Some links and pedagogical references of Ender Rodríguez and “Art of Origin”</h3>
  <h3>Algunos enlaces y referentes pedagógicos de Ender Rodríguez y “Arte del Origen”</h3>
  <ul>
    <a href="https://endemico.org/arte-del-origen-hacia-una-ecologia-humana/">
      Arte del Origen en la Revista chilena “Endémico” de Arte y Ecología.
    </a>
    <a href="https://artishockrevista.com/2020/10/20/pedagogias-del-arte/">
      Revista de Chile Artischock sobre Pedagogías Liberadoras más allá del Arte.
    </a>
    <a href="https://www.youtube.com/watch?v=3rR5b5X_TO8">
      Micro educativo Arte del Origen – Arte del Bosque.
    </a>
    <a href="https://www.youtube.com/watch?v=3PeechjxC90">
      ARTIERRA – Talleres y propuesta de Arte Del Origen.
    </a>
    <a href="https://www.youtube.com/watch?v=-DFqKIETeAs">
      Pintar con flores...
    </a>
    <a href="https://www.youtube.com/watch?v=pA9-1IiKlQ8&t=481s">
      Conversatorio virtual en “Teachers for Future” España.
    </a>
  </ul>
</article>