<article>
  <h1>Fotos:</h1>
  <div class="contenedor">
    <div class="contenedor-imagenes">
      <img src="/imgs/1-de-Outubro-2-min.jpg">
      <img src="/imgs/120841540_654867242097829_3720982974330384294_n-min.jpg">
      <img src="/imgs/13textoenderMR-min.jpg">
      <img src="/imgs/1470349_10202198319935917_44274464_n-min.jpg">
      <img src="/imgs/302737253_10160270126694173_6239482645948858944_n-min.jpg">
      <img src="/imgs/DSC08911-min.JPG">
      <img src="/imgs/IMG-20211125-WA0030-min.jpg">
      <img src="/imgs/IMG-20211125-WA0035-min.jpg">
      <img src="/imgs/tierra-min.jpg">
      <img src="/imgs/otro-min.jpg">
      <img src="/imgs/1.jpg">
      <img src="/imgs/2 cdei la nana.jpg">
      <img src="/imgs/13textoenderMR-min.jpg">
      <img src="/imgs/302737253_10160270126694173_6239482645948858944_n-min.jpg">
      <img src="/imgs/arandanos flores de lirio de muerto o clavelinos y carbon 2023. obra hommbre que muta a tortuga.jpg">
      <img src="/imgs/arte del origen.jpg">
      <img src="/imgs/barco hacia la nada. tierra sobre bastidor de tela color ocre 2023.jpg">
      <img src="/imgs/IMG_20221216_183924_695.jpg">
      <img src="/imgs/IMG_20221218_210125_406.jpg">
      <img src="/imgs/IMG_20230227_105950_869.jpg">
      <img src="/imgs/IMG_20230227_111634_915.jpg">
      <img src="/imgs/IMG-20221205-WA0006.jpg">
      <img src="/imgs/IMG-20221220-WA0017.jpg">
      <img src="/imgs/IMG-20221221-WA0011.jpg">
      <img src="/imgs/IMG-20221222-WA0029.jpg">
      <img src="/imgs/IMG-20230126-WA0029.jpg">
      <img src="/imgs/IMG-20230227-WA0003.jpg">
    </div>
  </div>
</article>