<article>
  <h1>I want to support, be a sponsor! / ¡Quiero apoyar, ser patrocinador!</h1>
  <p>
    "Art of the Origin" needs sponsors, supportive friends, institutional support and positive energy connection. Support us and we will put your logo (name) on our page!.
  </p>
  <br>
  <p>
    You can make a single contribution or contributions every two months or finance projects such as: art workshops of origin in poor communities; care of ecological springs and gardens to paint; art therapy and support for people with disabilities or diseases; reforestation and save forests in fragile areas.
  </p>
  <br>
  <p>
    "Arte del Origen" necesita de patrocinantes, amigos solidarios, apoyo institucional y conexión energética positiva. ¡apóyanos y colocamos tu logotipo (nombre) en nuestra página!.
  </p>
  <br>
  <p>
    Puedes hacer un aporte único o aportes de cada dos meses o financiar proyectos como: talleres de arte del origen en comunidades pobres; cuido de manantiales y jardines ecologicos para pintar; arteterapia y apoyo a personas con discapacidades o enfermedades; reforestación y salvar bosques en zonas fragiles.
  </p>
  <br>
  <h2 class="final">
    "ARTE DEL ORIGEN" NECESITA DE PATROCINANTES, AMIGOS SOLIDARIOS, APOYO INSTITUCIONAL Y CONEXIÓN ENERGÉTICA POSITIVA. ¡APÓYANOS!
  </h2>
  <h2 class="final">
    "ARTE DEL ORIGEN" NEEDS SPONSORS, SUPPORTIVE FRIENDS, INSTITUTIONAL SUPPORT AND POSITIVE ENERGY CONNECTION. SUPPORT US!
  </h2>
</article>