<article>
  <h1>Videos:</h1>
  <div class="contenedor">
    <div class="contenedor-imagenes">
      <h2>Arte del origen desde Argentina, con Gaia Anaya y Sol Blue.</h2>
      <video controls src="https://res.cloudinary.com/dxqa0mb8i/video/upload/v1695433808/VID-20221207-WA0157_mpxr64.mp4"></video>
      <h2>Video animaci칩n.</h2>
      <video controls src="https://res.cloudinary.com/dxqa0mb8i/video/upload/v1695434400/VID-20221216-WA0004_v6c2u3.mp4"></video>
      <h2>Arte del origen desde Espa침a, gracias a Mariola Foncubierta y su taller.</h2>
      <video controls src="https://res.cloudinary.com/dxqa0mb8i/video/upload/v1695434484/VID-20221220-WA0029_owwutf.mp4"></video>
      <h2>Arte del origen con el gran artista Dixon Calvetti y su taller del chim칩 y el carb칩n.</h2>
      <video controls src="https://res.cloudinary.com/dxqa0mb8i/video/upload/v1695434604/VID-20230226-WA0020_gsc6rb.mp4"></video>
    </div>
  </div>
</article>