<article>
  <h1>What is Art of Origin? / ¿Qué es arte del origen?</h1>
  <p>
    It is an educational proposal of workshops and projects of artistic creation, art therapy and emotional balance both individual and social in communities, using vegetable and mineral elements as a dye and as a transformative energy matter (taking some ideas from the aboriginal world).
  </p>
  <br>
  <p>
    Es una propuesta educativa de talleres y proyectos de creación artística, arteterapia y equilibrio emocional tanto individual como social en comunidades, usando elementos vegetales y minerales como tintura y como materia energética transformadora (tomando algunas ideas del mundo aborigen).
  </p>
  <div class="carta">
    <i>
      <p>“Los niños son  creativos por naturaleza, un ambiente apropiado estimularía el desarrollo de ese potencial creativo.”</p>
    </i>
    <p>
      (Anderson, 1959; Espiriu, 1993; Moran, 1992; Torrance, 1988; Kellog, 1987). Tomado de la autora Belkis Rojas de Escalona, 2004.  
    </p>
  </div>
  <br>
  <p>
    Los talleres de ARTE DEL ORIGEN parten de mis vivencias en la Amazonía Venezolana y en otros poblados (donde empiezo a conocer sensorialmente y a experimentar con los pigmentos vegetales-minerales aborígenes para rituales), y luego en comunidades campesinas andinas donde con niños descubrimos que al frotar flores se logra pintar. Se trabaja en estos talleres con piedras molidas, raíces, tubérculos, frutos, semillas -entre ellas onoto-, también café, remolacha, o arcilla-barro y tierra. Como parte de la ampliación en esa especie de laboratorio experimental, se incluye todo tipo de tinturas naturales e incluso el Chimó (que es un material procesado de origen indígena fundamentalmente realizado con tabaco y otras esencias y mezclas). 
  </p>
  <br>
  <p>
    La idea es sobre todo sembrar jardines y huertos diversificados (para tener plantas para comer y pintar) pero fundamentalmente, salvar bosques para vivir armónicamente y para también hacer arte libre: obras visuales espontáneas e instintivas desde pedagogías catártico-liberadoras y de activación interior y terapéutica desde cada particularidad así como en diálogo  cultural, etc.
  </p>
</article>