footer{
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: black;
  color: white;
  height: auto;
  padding: 50px;
}

footer h4{
  font-size: 20px;
}

footer p{
  text-align: justify;
}